# Loading and cleaning

In [1]:
import pyxlsb
import pandas as pd

In [2]:
# Open the database from the third sheet of the .xlsb file
with pyxlsb.open_workbook('BC LCG 2017 CN.xlsb') as wb:
    with wb.get_sheet(3) as sheet:
        data = []
        for row in sheet.rows():
            data.append([item.v for item in row])

# Skip the first empty row and use the second row as header 
df = pd.DataFrame(data[2:], columns=data[1])
df['Fecha'] = pd.to_datetime(df['Fecha'], unit='d', origin='1899-12-30')
df

,Fecha,Número de Vendedor,None,Nom_Completo_Vendedor,Número de cliente,Tipo,Departamento - Clave,Departamento,Familia - Clave,Familia,Ventas Netas (Q),Costo,None,None
0,2015-01-01,7.0,None,None,66.0,Real,0021,None,328,TRATAMIENTO DE CONCRETO,31740.12,22046.54,None,None
1,2015-01-01,5.0,None,None,45.0,Real,0021,None,370,PINTURAS DECORATIVAS,2377.30,1761.35,None,None
2,2015-01-01,8.0,None,None,75.0,Real,None,Pinturas,371,BARNICES ARQUITECTÓNICOS,20422.48,13189.05,None,None
3,2015-01-01,6.0,None,None,57.0,Real,0021,None,372,PINTURA AUTOMOTRIZ,719.80,668.40,None,None
4,2015-01-01,7.0,None,None,62.0,Real,0021,None,376,TINTES PARA MADERA,15589.78,10835.03,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7409,2016-12-01,4.0,None,None,36.0,Real,0050,None,527,Puertas,12490.53,9547.57,None,None
7410,2016-12-01,1.0,None,None,47.0,Real,0050,None,528,Ventanas,11183.92,7751.78,None,None
7411,2016-12-01,1.0,None,None,68.0,Real,0050,None,529,Techos,67611.21,51465.89,None,None
7412,2016-12-01,4.0,None,None,35.0,Real,0050,None,530,Tabicación,13373.82,10981.85,None,None
7413,2016-12-01,1.0,None,None,1.0,Real,0050,None,549,Cielo Suspendido,7477.19,5863.33,None,None

In [3]:
df = df.dropna(axis=1, how='all').dropna(axis=0, how='all')
df

,Fecha,Número de Vendedor,Número de cliente,Tipo,Departamento - Clave,Departamento,Familia - Clave,Familia,Ventas Netas (Q),Costo
0,2015-01-01,7.0,66.0,Real,0021,None,328,TRATAMIENTO DE CONCRETO,31740.12,22046.54
1,2015-01-01,5.0,45.0,Real,0021,None,370,PINTURAS DECORATIVAS,2377.30,1761.35
2,2015-01-01,8.0,75.0,Real,None,Pinturas,371,BARNICES ARQUITECTÓNICOS,20422.48,13189.05
3,2015-01-01,6.0,57.0,Real,0021,None,372,PINTURA AUTOMOTRIZ,719.80,668.40
4,2015-01-01,7.0,62.0,Real,0021,None,376,TINTES PARA MADERA,15589.78,10835.03
...,...,...,...,...,...,...,...,...,...,...
7409,2016-12-01,4.0,36.0,Real,0050,None,527,Puertas,12490.53,9547.57
7410,2016-12-01,1.0,47.0,Real,0050,None,528,Ventanas,11183.92,7751.78
7411,2016-12-01,1.0,68.0,Real,0050,None,529,Techos,67611.21,51465.89
7412,2016-12-01,4.0,35.0,Real,0050,None,530,Tabicación,13373.82,10981.85
7413,2016-12-01,1.0,1.0,Real,0050,None,549,Cielo Suspendido,7477.19,5863.33

In [4]:
unique_days_only = df['Fecha'].dt.day.unique()
print(f"Unique days: {unique_days_only}")

Unique days: [1]

Entries in the Date column are only month-year

In [5]:
df["Fecha"] = pd.to_datetime(df["Fecha"])
df["Año"] = df["Fecha"].dt.year
df["Mes"] = df["Fecha"].dt.month

check if there are any blank cells or whitespaces

In [6]:
assert df.replace(r'^\s*$', pd.NA, regex=True).isna().sum().sum() >= df.isna().sum().sum(), "Blank spaces replacement reduced NA count, which should not happen."

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7392 entries, 0 to 7413
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Fecha                 7392 non-null   datetime64[ns]
 1   Número de Vendedor    7392 non-null   float64
 2   Número de cliente     7392 non-null   float64
 3   Tipo                  7392 non-null   object
 4   Departamento - Clave  7387 non-null   object
 5   Departamento          5 non-null      object
 6   Familia - Clave       7392 non-null   object
 7   Familia               7392 non-null   object
 8   Ventas Netas (Q)      7392 non-null   float64
 9   Costo                 7392 non-null   float64
 10  Año                   7392 non-null   int32
 11  Mes                   7392 non-null   int32
dtypes: datetime64[ns](1), float64(4), int32(2), object(5)
memory usage: 693.0+ KB

Check if non-nulls in Departamento match nulls in Departamento - Clave


-> Find rows where 'Departamento' is not null and 'Departamento - Clave' is null

In [8]:
mask = df['Departamento'].notna() & df['Departamento - Clave'].isna()
df[mask][['Departamento', 'Departamento - Clave']]

     Departamento Departamento - Clave
2        Pinturas                 None
4340     Plomería                 None
4341     Plomería                 None
4342     Plomería                 None
5448     Juguetes                 None

As all entries match, it is safe to change them using the dictionary.

## Load dictionaries

In [9]:
# Open the database from the second sheet of the .xlsb file
with pyxlsb.open_workbook('BC LCG 2017 CN.xlsb') as wb:
    with wb.get_sheet(2) as sheet:
        data = []
        for row in sheet.rows():
            data.append([item.v for item in row])

# Skip the first empty row and use the second row as header 
depa = pd.DataFrame(data[2:], columns=data[1])

# Drop empty columns and rows
depa = depa.dropna(axis=1, how='all').dropna(axis=0, how='all')

# Save the dictionary of sellers
sellers = depa[['No. Vendedor', 'Nombre', 'Apellido']]

# Keep only columns that belong to the 'Departamento' dictionary
depa = depa[['Departamento - Clave', 'Departamento']]

Map null values in 'Departamento - Clave' in df using depa as a dictionary

In [10]:
df.loc[mask, 'Departamento - Clave'] = df.loc[mask, 'Departamento'].map(
    depa.set_index('Departamento')['Departamento - Clave']
)

Check changed values and delete now unuseful column

In [11]:
df[mask]

,Fecha,Número de Vendedor,Número de cliente,Tipo,Departamento - Clave,Departamento,Familia - Clave,Familia,Ventas Netas (Q),Costo,Año,Mes
2,2015-01-01,8.0,75.0,Real,0021,Pinturas,371,BARNICES ARQUITECTÓNICOS,20422.48,13189.05,2015,1
4340,2016-03-01,3.0,27.0,Real,0024,Plomería,963,EMPAQUES,11811.43,4923.92,2016,3
4341,2016-03-01,6.0,52.0,Real,0024,Plomería,964,"TUBERÍA, CONEXIONES Y DRENAJE",662548.79,330311.75,2016,3
4342,2016-03-01,3.0,25.0,Real,0024,Plomería,971,CALENTADORES DE AGUA,1190755.27,759981.72,2016,3
5448,2016-06-01,1.0,81.0,Real,0001,Juguetes,921,Libros,1356.95,1114.30,2016,6

In [12]:
df.drop(columns=['Departamento'], inplace=True)

# Profiling

To deeply understand relationships between variables, the tool pandas profiling gives a very complete summary of what to look after when working with these variables.

In [13]:
# from ydata_profiling import ProfileReport
# profile_report = ProfileReport(df, title="Profiling Report")
# profile_report.to_file("Profile_report.html")

Interesting points that came out of this: 
- `Tipo` has a constant value: all entries are "Real"
- Dataset has 1 duplicate row 
- `Costo` and `Ventas Netas (Q)` are highly correlated overall.

# Análisis de datos 
(Ahora en español para consistencia de respuestas)

- Expresar los resultados en dólares americanos y utilizar el tipo de cambio 1 USD = Q 7.5 dónde la Q es el símbolo de la moneda oficial de Guatemala, el Quetzal.

In [14]:
df['Ventas Netas (USD)'] = df['Ventas Netas (Q)'] / 7.5
df['Costo (USD)'] = df['Costo'] / 7.5

In [15]:
df.to_csv('BD_LCG_2017_CN.csv', index=False)

In [16]:
df['Departamento - Clave'].unique()

array(['0021', '0022', '0023', '0024', '0025', '0026', '0027', '0028',
       '0030', '0058', '2247', '2248', '0002', '0003', '0004', '0005',
       '0008', '0009', '0010', '0015', '0042', '0059', '0806', '0807',
       '2249', '2250', '0001', '0007', '0012', '2251', '0011', '0050'],
      dtype=object)

## Pareto ABC por departamentos

In [17]:
# Cambiar la visualización de pandas para no usar notación científica
pd.set_option('display.float_format', '{:,.2f}'.format)

In [18]:
# Agrupar las ventas netas por departamento
ventas_por_departamento = df.groupby("Departamento - Clave")["Ventas Netas (USD)"].sum().sort_values(ascending=False)

# Calcular el porcentaje acumulado
ventas_acumuladas = ventas_por_departamento.cumsum()
ventas_totales = ventas_por_departamento.sum()
porcentaje_acumulado = ventas_acumuladas / ventas_totales

In [19]:
# Clasificar en A, B y C
def clasificacion_abc(pct):
    if pct <= 0.8:
        return 'A'
    elif pct <= 0.95:
        return 'B'
    else:
        return 'C'

clasificacion_dpto = porcentaje_acumulado.apply(clasificacion_abc)

Comprobar resultados

In [20]:
# DataFrame con toda la información
df_pareto = pd.DataFrame({
    "Ventas Netas (USD)": ventas_por_departamento,
    "Ventas Acumuladas": ventas_acumuladas,
    "Porcentaje Acumulado": porcentaje_acumulado,
    "Clasificación": clasificacion_dpto
})
df_pareto

,Ventas Netas (USD),Ventas Acumuladas,Porcentaje Acumulado,Clasificación
Departamento - Clave,,,,
0001,"20,274,844.59","20,274,844.59",0.09,A
0022,"13,653,840.73","33,928,685.33",0.14,A
0005,"13,540,891.31","47,469,576.64",0.20,A
0008,"12,903,730.01","60,373,306.66",0.26,A
0003,"12,539,779.33","72,913,085.99",0.31,A
0002,"11,895,221.25","84,808,307.24",0.36,A
0009,"11,810,286.93","96,618,594.17",0.41,A
0023,"11,283,274.29","107,901,868.46",0.46,A
0025,"10,472,857.66","118,374,726.11",0.50,A
0024,"9,942,731.37","128,317,457.49",0.55,A
0021,"8,371,818.17","136,689,275.66",0.58,A
2250,"8,035,868.60","144,725,144.25",0.62,A
0007,"7,772,727.44","152,497,871.70",0.65,A
0004,"7,136,851.16","159,634,722.86",0.68,A
0030,"6,362,343.62","165,997,066.47",0.71,A
0027,"6,231,829.67","172,228,896.15",0.73,A
0058,"6,198,786.81","178,427,682.95",0.76,A
0807,"6,103,271.95","184,530,954.91",0.79,A
0010,"5,969,592.92","190,500,547.83",0.81,B
0026,"5,904,473.71","196,405,021.54",0.84,B
0050,"5,575,252.37","201,980,273.92",0.86,B
0011,"4,686,907.19","206,667,181.11",0.88,B
0028,"4,503,140.25","211,170,321.36",0.90,B
0042,"4,408,223.70","215,578,545.06",0.92,B
2249,"4,308,996.50","219,887,541.56",0.94,B
0806,"4,201,449.06","224,088,990.62",0.95,C
0015,"3,382,987.11","227,471,977.73",0.97,C
0059,"2,671,787.07","230,143,764.80",0.98,C
2247,"1,840,515.61","231,984,280.41",0.99,C
2248,"1,791,032.48","233,775,312.89",1.00,C
2251,"491,337.27","234,266,650.15",1.00,C
0012,"485,699.88","234,752,350.04",1.00,C

### 1.- 
¿Cuál es el monto de ventas por cada clasificación (A, B y C)?

### 2.- 
Calcular el número de departamentos por cada clasificación (A, B y C).

In [21]:
# Pregunta 1.- 
ventas_por_clase = df_pareto.groupby("Clasificación")["Ventas Netas (USD)"].sum()

# Pregunta 2.-
frecuencia = df_pareto["Clasificación"].value_counts()

# Juntar ambas
resumen = pd.concat([ventas_por_clase, frecuencia], axis=1)
resumen.columns = ["Ventas Netas (USD)", "Número de Departamentos"]
print(resumen)

               Ventas Netas (USD)  Número de Departamentos
Clasificación
A                  184,530,954.91                       18
B                   35,356,586.65                        7
C                   14,864,808.48                        7

## Pareto ABC por clientes

In [22]:
# Agrupar las ventas netas por número de cliente
ventas_por_cliente = df.groupby("Número de cliente")["Ventas Netas (USD)"].sum().sort_values(ascending=False)

# Calcular el porcentaje acumulado
ventas_acumuladas_cliente = ventas_por_cliente.cumsum()
ventas_totales_cliente = ventas_por_cliente.sum()
porcentaje_acumulado_cliente = ventas_acumuladas_cliente / ventas_totales_cliente

In [23]:
# Llamar a la función de clasificación ABC
clasificacion_cliente = porcentaje_acumulado_cliente.apply(clasificacion_abc)

# DataFrame con toda la información
df_pareto_cliente = pd.DataFrame({
    "Ventas Netas (USD)": ventas_por_cliente,
    "Ventas Acumuladas": ventas_acumuladas_cliente,
    "Porcentaje Acumulado": porcentaje_acumulado_cliente,
    "Clasificación": clasificacion_cliente
})
df_pareto_cliente

,Ventas Netas (USD),Ventas Acumuladas,Porcentaje Acumulado,Clasificación
Número de cliente,,,,
47.00,"20,530,094.33","20,530,094.33",0.09,A
14.00,"19,963,858.34","40,493,952.67",0.17,A
59.00,"19,198,607.44","59,692,560.11",0.25,A
68.00,"18,611,336.47","78,303,896.58",0.33,A
74.00,"16,949,299.52","95,253,196.10",0.41,A
...,...,...,...,...
18.00,"943,603.08","231,808,396.15",0.99,C
16.00,"924,974.47","232,733,370.62",0.99,C
12.00,"877,763.51","233,611,134.13",1.00,C
17.00,"579,313.19","234,190,447.32",1.00,C
28.00,"561,902.71","234,752,350.04",1.00,C

In [24]:
ventas_por_clase_cliente = df_pareto_cliente.groupby("Clasificación")["Ventas Netas (USD)"].sum()
frecuencia_cliente = df_pareto_cliente["Clasificación"].value_counts()

# Juntar ambas
resumen_cliente = pd.concat([ventas_por_clase_cliente, frecuencia_cliente], axis=1)
resumen_cliente.columns = ["Ventas Netas (USD)", "Cantidad de Clientes"]
print(resumen_cliente)

               Ventas Netas (USD)  Cantidad de Clientes
Clasificación
A                  186,864,368.68                    49
B                   35,345,594.06                    25
C                   12,542,387.29                    13

### 3.- 
Realizar un ABC de clientes e identificar cuáles son los 5 clientes que más compran.

In [25]:
# Agrupar por cliente y sumar sus compras totales
ventas_por_cliente = df.groupby("Número de cliente")["Ventas Netas (USD)"].sum()

# Ordenar de mayor a menor
top_5_clientes = ventas_por_cliente.sort_values(ascending=False).head(5)
print(top_5_clientes)

Número de cliente
47.00   20,530,094.33
14.00   19,963,858.34
59.00   19,198,607.44
68.00   18,611,336.47
74.00   16,949,299.52
Name: Ventas Netas (USD), dtype: float64

### 4.- 
Identificar cuál es el vendedor que le vende a la mayoría de los clientes

In [26]:
# Agrupar por vendedor y contar cuántos clientes distintos ha atendido
clientes_por_vendedor = df.groupby("Número de Vendedor")["Número de cliente"].nunique().sort_values(ascending=False)
clientes_por_vendedor = clientes_por_vendedor.rename("Clientes Únicos")
clientes_por_vendedor

Número de Vendedor
1.00    87
8.00    16
3.00    10
4.00    10
2.00     9
5.00     9
6.00     9
7.00     9
Name: Clientes Únicos, dtype: int64

## Análisis de tendencia de ventas

Utilizar la base de datos para construir gráficos dinámicos que representen la tendencia de ventas por mes por vendedor, total

### 5.- 
¿Cuál es el mes con más ventas para el año 2015 y 2016?

In [27]:
# Agrupar por año y mes numérico, y sumar ventas
ventas_por_mes_num = df.groupby(["Año", "Mes"])["Ventas Netas (USD)"].sum().reset_index()

# Encontrar el mes con mayor venta por año usando la columna Mes
meses_maximos = ventas_por_mes_num.loc[ventas_por_mes_num.groupby("Año")["Ventas Netas (USD)"].idxmax()]
print(meses_maximos)

     Año  Mes  Ventas Netas (USD)
11  2015   12       23,388,850.79
22  2016   11       16,960,601.28

### 6.- 
¿Cuál es el mes con menos ventas para el año 2015 y 2016?

In [28]:
# Obtener el mes con menos ventas por año usando la columna Mes
meses_minimos = ventas_por_mes_num.loc[ventas_por_mes_num.groupby("Año")["Ventas Netas (USD)"].idxmin()]
print(meses_minimos)

     Año  Mes  Ventas Netas (USD)
1   2015    2        7,084,395.69
23  2016   12        4,404,673.10

### 7.- 
¿Cuál es el porcentaje de crecimiento anual?

Se calculará el porcentaje de crecimiento de la siguiente manera: 

(Ventas año actual - Ventas año anterior) * 100 / (Ventas año anterior)

In [29]:
# Calcular ventas anuales en total
ventas_anuales = df.groupby("Año")["Ventas Netas (USD)"].sum()

# Calcular el porcentaje de crecimiento entre 2015 y 2016
ventas_2015 = ventas_anuales.get(2015, 0)
ventas_2016 = ventas_anuales.get(2016, 0)

if ventas_2015 > 0:
    crecimiento_pct = ((ventas_2016 - ventas_2015) / ventas_2015) * 100
    print(f"Crecimiento de 2015 a 2016: {crecimiento_pct:.2f}%")
else:
    print("No hay datos de ventas para 2015 o son cero.")

Crecimiento de 2015 a 2016: -7.18%

In [31]:
from statsmodels.tsa.statespace.sarimax import SARIMAX

# Crear la serie temporal mensual (sumando ventas por mes y excluyendo diciembre 2016)
ventas_por_mes_sarima = (
    df[(df["Año"] < 2016) | ((df["Año"] == 2016) & (df["Mes"] < 12))]
    .groupby([df["Fecha"].dt.to_period("M")])["Ventas Netas (USD)"]
    .sum()
    .sort_index()
)

# Ajustar el modelo SARIMA (parámetros básicos, pueden ajustarse)
model = SARIMAX(ventas_por_mes_sarima, order=(1,1,1), seasonal_order=(1,1,1,12))
results = model.fit(disp=False)

# Predecir diciembre 2016
pred = results.get_forecast(steps=1)
predicted_dec_2016 = pred.predicted_mean.iloc[0]

print(f"Predicción SARIMA para ventas netas (USD) en diciembre 2016: {predicted_dec_2016:,.2f}")

Predicción SARIMA para ventas netas (USD) en diciembre 2016: 33,201,465.50

c:\Users\David\AppData\Local\Programs\Python\Python311\Lib\site-packages\statsmodels\tsa\statespace\sarimax.py:866: UserWarning: Too few observations to estimate starting parameters for seasonal ARMA. All parameters except for variances will be set to zeros.
  warn('Too few observations to estimate starting parameters%s.'

In [32]:
predicted_dec_2016

33201465.500646316

In [33]:
print("hello")

hello

In [ ]:
from statsmodels.tsa.statespace.sarimax import SARIMAX
import matplotlib.pyplot as plt
%matplotlib inline

# Crear la serie temporal mensual (sumando ventas por mes y excluyendo diciembre 2016)
ventas_por_mes_sarima = (
    df[(df["Año"] < 2016) | ((df["Año"] == 2016) & (df["Mes"] < 12))]
    .groupby([df["Fecha"].dt.to_period("M")])["Ventas Netas (USD)"]
    .sum()
    .sort_index()
)

# Ajustar el modelo SARIMA
model = SARIMAX(ventas_por_mes_sarima, order=(1,1,1), seasonal_order=(1,1,1,12))
results = model.fit(disp=False)

# Predecir diciembre 2016
pred = results.get_forecast(steps=1)
predicted_dec_2016 = pred.predicted_mean.iloc[0]
conf_int = pred.conf_int().iloc[0]

# Obtener el valor real de diciembre 2016
ventas_dic_2016 = df[(df["Año"] == 2016) & (df["Mes"] == 12)]["Ventas Netas (USD)"].sum()

# Crear una nueva serie que incluya diciembre 2016 real y predicho
ventas_plot = ventas_por_mes_sarima.copy()
ventas_plot = ventas_plot.append(pd.Series([ventas_dic_2016], index=[pd.Period('2016-12', freq='M')]))

plt.figure(figsize=(10,6))
ventas_plot.plot(label='Ventas reales hasta dic-2016')
plt.scatter(['2016-12'], [ventas_dic_2016], color='green', label='Real dic-2016')
plt.scatter(['2016-12'], [predicted_dec_2016], color='red', label='Predicción SARIMA dic-2016')
plt.fill_between(['2016-12'], conf_int[0], conf_int[1], color='red', alpha=0.2, label='Intervalo confianza')
plt.legend()
plt.title('Predicción SARIMA para ventas en diciembre 2016')
plt.ylabel('Ventas Netas (USD)')
plt.xlabel('Mes')
plt.show()

c:\Users\David\AppData\Local\Programs\Python\Python311\Lib\site-packages\statsmodels\tsa\statespace\sarimax.py:866: UserWarning:

Too few observations to estimate starting parameters for seasonal ARMA. All parameters except for variances will be set to zeros.

AttributeError: 'Series' object has no attribute 'append'

## Análisis de rentabilidad de portafolio

Definiendo rentabilidad como el Return on Investment (ROI) como: 

(Ventas Netas (USD) - Costo (USD)) *100 / Costo (USD)

Asumiendo que el Costo en la BD está en Q, se convierte a USD y se utiliza ese costo en la fórmula.

### 8.- 
¿Cuál es la rentabilidad del mes de septiembre del 2016?

In [ ]:
# Filtrar septiembre 2016
sept_2016 = df[(df["Fecha"].dt.year == 2016) & (df["Fecha"].dt.month == 9)]

# Calcular rentabilidad total del mes
ventas = sept_2016["Ventas Netas (USD)"].sum()
costos = sept_2016["Costo (USD)"].sum()

if costos > 0:
    rentabilidad_sept = ((ventas - costos) / costos) * 100
    print(f"Rentabilidad de septiembre 2016: {rentabilidad_sept:.2f}%")
else:
    print("Costo total es cero, no se puede calcular rentabilidad.")

Rentabilidad de septiembre 2016: 77.28%

### 9.- 
¿Cuál fue el trimestre con la rentabilidad más baja?

In [ ]:
# Crear columna de trimestre
df["Trimestre"] = df["Fecha"].dt.to_period("Q")

# Agrupar por trimestre y calcular rentabilidad
rentabilidad_trimestres = df.groupby("Trimestre").agg({
    "Ventas Netas (USD)": "sum",
    "Costo (USD)": "sum"
})

rentabilidad_trimestres["Rentabilidad (%)"] = (
    (rentabilidad_trimestres["Ventas Netas (USD)"] - rentabilidad_trimestres["Costo (USD)"])
    / rentabilidad_trimestres["Costo (USD)"]
) * 100

# Encontrar el trimestre con menor rentabilidad
trimestre_min = rentabilidad_trimestres["Rentabilidad (%)"].idxmin()
valor_min = rentabilidad_trimestres["Rentabilidad (%)"].min()

print(f"Trimestre con menor rentabilidad: {trimestre_min}, con {valor_min:.2f}%")

Trimestre con menor rentabilidad: 2016Q2, con 68.05%

### 10.- 
¿Cuál fue el cliente menos rentable y en qué año?

In [ ]:
# Agrupar por cliente y año
rentabilidad_cliente_anio = df.groupby(["Número de cliente", "Año"]).agg({
    "Ventas Netas (USD)": "sum",
    "Costo (USD)": "sum"
})

rentabilidad_cliente_anio["Rentabilidad (%)"] = (
    (rentabilidad_cliente_anio["Ventas Netas (USD)"] - rentabilidad_cliente_anio["Costo (USD)"])
    / rentabilidad_cliente_anio["Costo (USD)"]
) * 100

# Filtrar los casos donde el costo fue mayor a 0 para evitar divisiones por cero
rentabilidad_cliente_anio = rentabilidad_cliente_anio[rentabilidad_cliente_anio["Costo (USD)"] > 0]

# Encontrar el cliente con menor rentabilidad
menor_rentabilidad = rentabilidad_cliente_anio["Rentabilidad (%)"].idxmin()
valor_min_rent = rentabilidad_cliente_anio["Rentabilidad (%)"].min()

cliente, año = menor_rentabilidad

print(f"Cliente menos rentable: {int(cliente)}, Año: {año}, Rentabilidad: {valor_min_rent:.2f}%")

Cliente menos rentable: 20, Año: 2015, Rentabilidad: 43.72%